<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-5 text-center">
      <div style="max-width: 25rem;">
        <div class="text-center mb-5">
          <i class="icofont-heart-beat secondary-color" style="font-size: 90px;"></i>
        </div>
        <div class="mb-5">
          <h2 class="color-900 text-center">Pure, We aim to make your life better</h2>
        </div>
        <!-- Image block -->
        <div class="d-flex justify-content-center">
          <img src="../assets/login-img.png" alt="login-img" style="width: 400px; height: 400px;">
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-5 d-flex align-items-center justify-content-center">
      <div class="mb-5">
          <p class="color-900 text-center">Welcome to our Hospital Database Management System App!
  At Rumelifeneri Hospital, we're dedicated to providing exceptional care, and our commitment extends beyond our patients to ensure efficient and reliable management of critical information. Our user-friendly app is designed to streamline the process for our healthcare professionals, administrators, and support staff.
          </p>
        <br>
        <p class="color-900 text-center">
            Here, you'll find a comprehensive suite of tools tailored to meet the diverse needs of our healthcare ecosystem. From patient records and medical histories to appointment scheduling and inventory management, our system is crafted to optimize every aspect of hospital operations.
        </p>
        </div>
    </div>
  </div>
</div>
