<div class="card-body p-lg-4 p-3">
  <div class="d-flex mb-3 pb-3 border-bottom flex-wrap">
    <div class="flex-fill ms-3 text-truncate">
      <h6 class="mb-0"><span>Andrea Gill</span> <span class="text-muted small"> 724 Followers</span></h6>
      <span class="text-muted">1 Day ago</span>
    </div>
    <div class="d-flex align-items-center">
      <span class="mb-2 me-3">
        <a href="#" class="rating-link active"><i class="bi bi-star-fill text-warning"></i></a>
        <a href="#" class="rating-link active"><i class="bi bi-star-fill text-warning"></i></a>
        <a href="#" class="rating-link active"><i class="bi bi-star-fill text-warning"></i></a>
        <a href="#" class="rating-link active"><i class="bi bi-star-fill text-warning"></i></a>
        <a href="#" class="rating-link active"><i class="bi bi-star-half text-warning"></i></a>
      </span>
    </div>
  </div>
  <div class="timeline-item-post">
    <h6 class="">His excellent treatment,</h6>
    <p>investigative mind and ability to connect, you know where you stand immediately and what next steps look like.</p>
  </div>
</div>
